<style>
  .nameUser{
    display: flex;
    flex-direction: column;
  }

  .imageUser{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    margin-right: 0.51rem;
  }
  
  .user-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>

<nav id="sidebar" class="sidebar-wrapper">
   <div class="sidebar-content">
     <div class="sidebar-brand">
       <a href="/dashboard"><h2 style="color: red !important;">YASHOHRAT EXAMS</h2></a>
       <div id="close-sidebar">
         <i class="fas fa-times" style="color: red;"></i>
       </div>
     </div>
     <div class="sidebar-header" style="display: flex; justify-content: space-between;">
       <div class="user-info">
        <div>
          <span><img src=<%= `/img/users/${details.image}` %> class="imageUser"></span>
         </div>
         <div class="nameUser">
         <span class="user-name">
           <strong style="text-transform: uppercase; color: red !important;"><%= details.name %></strong>
         </span>
         <span class="user-role">Student Id: <%= details.id %></span>
        </div>
       </div>
       <!-- <div>
         <a href="/notification">
           <i class="fa fa-bell" style="color: white; font-size: 2rem;"></i>
         </a>
       </div> -->
     </div>
     <div class="sidebar-menu">
       <ul>
        <li class="sidebar-dropdown">
          <a href="#">
            <span>Profile</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="/userEdit">Edit Account</a>
              </li>
              <li>
                <a href="/changePass">Change Password</a>
              </li>
              <li>
                <a href="/details">My Details</a>
              </li>
            </ul>
          </div>
        </li>
         <li class="">
           <a href="/courses">
             <span>Courses</span>
           </a>
         </li>
         <li class="">
          <a href="/liveStream">
            <span>Live Lectures</span>
          </a>
        </li>
         <li class="">
           <a href="/results">
             <span>Test Results</span>
           </a>
         </li>
         <li class="">
          <a href="<%= l %>" target="_blank">
            <span>Test Schedule</span>
          </a>
        </li>
        <li class="">
          <a href="/quiz/5fe0e1cbcc6fa74edc37b126">
            <span>Demo Test</span>
          </a>
        </li>
         <!-- <li class="">
           <a href="#">
             <span>Payment History</span>
           </a>
         </li> -->
         <li class="">
          <a href="/aboutApp">
            <span>About App</span>
          </a>
        </li>
        <li class="">
          <a href="/deskHelp">
            <span>Help Desk</span>
          </a>
        </li>
        <li class="">
          <a href="/shareApp">
            <span>Share App</span>
          </a>
        </li>
       </ul>
     </div>
   </div>
   <div class="sidebar-footer">
     <a href="/logout"><span style="color: white;">Log Out</span></a>
   </div>
 </nav>