<nav id="sidebar" class="sidebar-wrapper">
   <div class="sidebar-content">
       <div class="sidebar-brand">
           <a href="/admin" style="color: bisque;">Yashohrat Exams</a>
           <div id="close-sidebar">
               <i class="fas fa-times" style="color: bisque;"></i>
           </div>
       </div>
       <div class="sidebar-header">
           <div class="user-info">
               <span class="user-name" style="color: bisque;">
                   <strong style="text-transform: uppercase;"><%= details.name %></strong>
               </span>
               <span class="user-role" style="color: bisque;">Admin</span>
           </div>
       </div>
       <!-- sidebar-header  -->
       <div class="sidebar-menu">
           <ul>
               <br>
               <li class="">
                   <a href="/admin">
                       <span style="color: bisque; ">Admin Dashboard</span>
                   </a>
               </li>
               <!-- <li class="sidebar-dropdown">
                   <a href="#" style="color: bisque;">
                       <span style="color: bisque;">Courses</span>
                   </a>
                   <div class="sidebar-submenu">
                       <ul>
                           <li>
                               <a href="/courses" style="color: bisque;">All Courses</a>
                           </li>
                       </ul>
                   </div>
               </li> -->
               <li class="">
                   <a href="/createQuiz">
                       <span style="color: bisque;">Create Quiz</span>
                   </a>
               </li>
               <li class="">
                   <a href="/createNotification">
                       <span style="color: bisque;">Post Student of the Week</span>
                   </a>
               </li>
               <li class="">
                <a href="/createAnnouncement">
                    <span style="color: bisque;">Create Announcement</span>
                </a>
            </li>
               <li class="">
                   <a href="/showQuiz">
                       <span style="color: bisque;">Show Quizzes</span>
                   </a>
               </li>
               <!-- <li class="">
                   <a href="/showUsers">
                       <span style="color: bisque;">Show Users</span>
                   </a>
               </li> -->
               <li class="">
                <a href="/viewQueries">
                    <span style="color: bisque;">Show Queries</span>
                </a>
            </li>
               <!-- <li class="">
                   <a href="#">
                       <span style="color: bisque;">Payment History</span>
                   </a>
               </li> -->
               <li class="sidebar-dropdown">
                   <a href="#" style="color: bisque;">
                       <span>Live Stream</span>
                   </a>
                   <div class="sidebar-submenu">
                       <ul>
                           <li>
                               <a style="color: bisque;" href="/Newlivestream" target="_blank">New Stream</a>
                           </li>
                       </ul>
                   </div>
               </li>
               <!-- <li class="sidebar-dropdown">
                   <a href="#" style="color: bisque;">
                       <span>My Account</span>
                   </a>
                   <div class="sidebar-submenu">
                       <ul>
                           <li>
                               <a style="color: bisque;" href="/userEdit">Edit Account</a>
                           </li>
                           <li>
                               <a style="color: bisque;" href="/changePass">Change Password</a>
                           </li>
                       </ul>
                   </div>
               </li> -->
           </ul>
       </div>
       <!-- sidebar-menu  -->
   </div>
   <!-- sidebar-content  -->
   <div class="sidebar-footer">
       <a href="/logout" style="color: bisque;"><span>Log Out</span></a>
   </div>
</nav>