.messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.messages .message .meta span {
	color: #777;
}
.container {
	width: 19rem;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	border-radius: 25px;
}