<html lang="en">

<head>
    <meta charset="UTF-8">
    <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <title>Document</title>

    <style>
        input[type=text] {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 10px;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        }

        input[type=text]:focus {
        border: 3px solid #555;
        }

        .btn  {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        }

        .btn btn-dark {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
        }

        .btn btn-dark:hover {
        background-color: #4CAF50;
        color: white;
        }
        </style>
</head>

<body>
    <%- include('partials/header') %>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <%- include('partials/sidebarAdmin') %>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container">
                <div class="container mt-5">
                    <h1 style="color: black;">
                        <%=quizName%>
                    </h1>
        
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">

                                    <form id="formQues" action="/questionsImage" method="POST">
                                        <div class="form-group">
                                            <label for="question" style="font-size: medium;">Enter The Question Image</label>
                                            <input type="file" accept="image/*" id="photos" class="form-control" name="image">

                                        </div>
        
                                        <button type="submit" style="font-size: medium;" class="btn btn-dark">Add Question</button>
        
                                    </form>
        
        
                                    <form action="/addQues" method="POST">
                                        <div class="form-group">
                                            <label for="question" style="font-size: medium;">Enter The Question</label>
                                            <input type="text" class="form-control" name="question">

                                        </div>
        
                                        <div class="form-group">
                                            <label for="op1" style="font-size: medium; ">Option 1</label>
                                            <input type="text" class="form-control" name="op1">
                                        </div>
        
                                        <div class="form-group">
                                            <label style="font-size: medium;" for="op2">Option 2</label>
                                            <input type="text" class="form-control" name="op2">
                                        </div>
        
                                        <div class="form-group">
                                            <label for="op3" style="font-size: medium;">Option 3</label>
                                            <input type="text" class="form-control" name="op3">
                                        </div>
        
                                        <div class="form-group">
                                            <label for="op4" font-size: medium;>Option 4</label>
                                            <input type="text" class="form-control" name="op4">
                                        </div>
        
                                        <div class="form-group">
                                            <label for="answer" style="font-size: medium;">Correct Option</label>
                                            <input type="text" class="form-control" name="answer">
                                        </div>
        
                                        <button type="submit" style="font-size: medium;" class="btn btn-dark">Add Question</button>
        
                                    </form>
                                    <a class="btn btn-light btn-lg" href="/testCreated" role="button" style="font-size: medium;">Create Test</a>
                                </div>
                            </div>
                        </div>
        
        
        
                    </div>
                </div>
        
            </div>
        
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type='text/javascript' src='/js/imageQuestion.js'></script>
    <script>
        document.getElementById("formQues").addEventListener("submit", (e) => {
          e.preventDefault();
          const form = new FormData();
          if (document.getElementById("photos").files[0]) {
            form.append("image", document.getElementById("photos").files[0]);
          }
          quesForm(form);
        });
    </script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script type='text/javascript' src='/js/dashboard.js'></script>
</body>

</html>









<!-- <main class="page-content">
    <div class="container">
        <div class="container mt-5">
            <h1>
                <%=quizName%>
            </h1>

            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">


                            <form action="/admin/addQues" method="POST">
                                <div class="form-group">
                                    <label for="question">enter the question</label>
                                    <input type="text" class="form-control" name="question">
                                </div>

                                <div class="form-group">
                                    <label for="op1">option 1</label>
                                    <input type="text" class="form-control" name="op1">
                                </div>

                                <div class="form-group">
                                    <label for="op2">option 2</label>
                                    <input type="text" class="form-control" name="op2">
                                </div>

                                <div class="form-group">
                                    <label for="op3">option 3</label>
                                    <input type="text" class="form-control" name="op3">
                                </div>

                                <div class="form-group">
                                    <label for="op4">option 4</label>
                                    <input type="text" class="form-control" name="op4">
                                </div>

                                <div class="form-group">
                                    <label for="answer">Enter the correct option(1-4)</label>
                                    <input type="text" class="form-control" name="answer">
                                </div>

                                <button type="submit" class="btn btn-dark">Add Question</button>

                            </form>
                            <a class="btn btn-light btn-lg" href="/admin/testCreated" role="button">Create test</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>

</main> -->