<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <title>Document</title>
</head>
    <body>
        <%- include('partials/header') %>
        <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                <i class="fas fa-bars" style="color: bisque;"></i>
            </a>
            <%- include('partials/sidebarAdmin') %>
            <!-- sidebar-wrapper  -->
            <main class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="alert alert-warning" role="alert">
                                <h4 class="alert-heading" style="font-size: medium;">Live Stream</h4>
                                
                                <a href="/Newlivestream" style="color: bisque; font-size: medium;" target="-blank" class="btn btn-sm btn-success mr-2">
                                New Live Stream</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 9rem; width: 80vw;">
                        <div class="real-time-printing"></div>
                    </div>

                    <div class="rectangles" style="margin-left: 0.1rem; margin-top: 2rem;">
                        <div class="rectangle" style="background-color: #DA9347">
                          <span class="rectangleHeading">Total Users</span>
                          <span class="rectangleText">0</span>
                        </div>
                        <div class="rectangle" style="background-color: #66B92E">
                            <span class="rectangleHeading">Total Quizzes</span>
                            <span class="rectangleText">0</span>
                        </div>
                        <div class="rectangle" style="background-color: #2298F1">
                            <span class="rectangleHeading">New Users</span>
                            <span class="rectangleText">0</span>
                        </div>
                        <div class="rectangle" style="background-color: #D65B4A">
                            <span class="rectangleHeading">Live Streams</span>
                            <span class="rectangleText">0</span>
                        </div>
                      </div>
    
                    <!-- <footer class="text-center">
              <div class="mb-2">
                <small>
                  © 2020 made with <i class="fa fa-heart" style="color:red"></i>
                </small>
              </div>
            </footer> -->
    
                </div>
    
            </main>
            <!-- page-content" -->
        </div>
        <!-- page-wrapper -->
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
        <script type='text/javascript' src='/js/adminDashboard.js'></script>
    </body>
    
    </html>