<html lang="en">

<head>
    <meta charset="UTF-8">
    <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
    <style>
        input[type=text] {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 10px;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        }

        input[type=text]:focus {
        border: 3px solid #555;
        }

        .btn  {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        }

        .btn btn-dark:hover {
        background-color: #4CAF50;
        color: white;
        }

    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <title>Document</title>
</head>

<body>
    <%- include('partials/header') %>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#"></a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <!-- <div class="user-pic">
                        <img class="img-responsive img-rounded"
                            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                            alt="User picture">
                    </div> -->
                    <div class="user-info">
                        <span class="user-name">
                            <strong style="color: bisque;">ADMIN</strong>
                        </span>
                        <span class="user-role" style="color: bisque;">admin</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span style="color: bisque;">Online</span><br>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <!-- <li class="header-menu">
              <span>General</span>
            </li> -->
                        <br>
                        <li class="sidebar-dropdown">
                            <a href="/admin">
                                <!-- <i class="fa fa-tachometer-alt"></i> -->
                                <span style="color: bisque;">Admin Dashboard</span>
                                <!-- <span class="badge badge-pill badge-warning">New</span> -->
                            </a>
                            <!-- <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Dashboard 1
                      <span class="badge badge-pill badge-success">Pro</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Dashboard 2</a>
                  </li>
                  <li>
                    <a href="#">Dashboard 3</a>
                  </li>
                </ul>
              </div> -->
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#" style="color: bisque;">
                                <!-- <i class="fa fa-globe"></i> -->
                                <span>Courses</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/showCourses" style="color: bisque;">All Courses</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/createQuiz">
                                <!-- <i class="fa fa-shopping-cart"></i> -->
                                <span style="color: bisque;">Create Quiz</span>
                                <!-- <span class="badge badge-pill badge-danger">3</span> -->
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/showQuiz">
                                <!-- <i class="fa fa-shopping-cart"></i> -->
                                <span style="color: bisque;">Show Quizzes</span>
                                <!-- <span class="badge badge-pill badge-danger">3</span> -->
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#" style="color: bisque;">
                                <!-- <i class="far fa-gem"></i> -->
                                <span>Payment History</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#" style="color: bisque;">General</a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: bisque;">Panels</a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: bisque;">Tables</a>
                                    </li>
                                    <li>
                                        <a href="#"style="color: bisque;">Icons</a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: bisque;">Forms</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#" style="color: bisque;">
                                <!-- <i class="fa fa-chart-line"></i> -->
                                <span>Live Stream</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a style="color: bisque;" href="#">Pie chart</a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: bisque;">Line chart</a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: bisque;">Bar chart</a>
                                    </li>
                                    <li>
                                        <a href="#" style="color: bisque;">Histogram</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="/logout" style="color: bisque;"><span>Log Out</span></a>
                <!-- <a href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <a href="#">
          <i class="fa fa-power-off"></i>
        </a> -->
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container">
            <div class="container mt-5">
                <h1 style="color: bisque; ">Create Quiz</h1>
    
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
    
    
                                <form action="/createQuiz" method="POST">
                                    <div class="form-group" style="margin: auto;">
                                        <label for="courseName" style="color: bisque; font-size: medium;" >Choose Your Course</label>
                                          <input list="courseName"  type="text" id="fname" name="courseName">
                                        <datalist id="courseName">
                                            <option value="Physics">
                                            <option value="Chemistry">
                                            <option value="Maths">
                                            <option value="Biology">
                                            <option value="English">
                                        </datalist>
                                    </div>
                                    <div class="form-group">
                                        <label for="quizName" style="color: bisque; font-size: medium;">Quiz Name</label>
                                        <input type="text"style="margin-left: 80px" class="form-control" name="quizName">
                                    </div>
                                    <button type="submit" class="btn btn-dark" style="font-size: medium;">Enter</button>

                                </form>
    
                            </div>
                        </div>
                    </div>
    
    
    
                </div>
            </div>
    
        </div>
    
    </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script type='text/javascript' src='/js/dashboard.js'></script>
</body>

</html>










