<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <title>Document</title>
</head>
<body>
  <%- include('partials/header') %>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#"></a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">
              <strong>Naman Jain</strong>
            </span>
            <span class="user-role">Student</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span><br>
            </span>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <!-- <li class="header-menu">
              <span>General</span>
            </li> -->
            <br>
            <li class="">
              <a href="#">
                <!-- <i class="fa fa-tachometer-alt"></i> -->
                <span>Dashboard</span>
                <!-- <span class="badge badge-pill badge-warning">New</span> -->
              </a>
              <!-- <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Dashboard 1
                      <span class="badge badge-pill badge-success">Pro</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Dashboard 2</a>
                  </li>
                  <li>
                    <a href="#">Dashboard 3</a>
                  </li>
                </ul>
              </div> -->
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <!-- <i class="fa fa-globe"></i> -->
                <span>Courses</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">All Courses</a>
                  </li>
                  <li>
                    <a href="#">My Courses</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="">
              <a href="#">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Results</span>
                <!-- <span class="badge badge-pill badge-danger">3</span> -->
              </a>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <!-- <i class="fa fa-globe"></i> -->
                <span>Live Stream</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Watch Video</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="">
              <a href="#">
                <!-- <i class="far fa-gem"></i> -->
                <span>Payment History</span>
              </a>
            </li>
            <li class="">
              <a href="/quiz" target="_blank">
                <!-- <i class="fa fa-chart-line"></i> -->
                <span>Start Quiz</span>
              </a>
            </li>
            <li class="">
              <a href="/changePass">
                <!-- <i class="fa fa-chart-line"></i> -->
                <span>Change Password</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <a href="/logout"><span>Log Out</span></a>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container">
        <div class="row">
          <div class="real-time-printing"></div>
      <table class="rwd-table">
        <tr>
          <th>S.No</th>
          <th>Quiz</th>
          <th>Review</th>
        </tr>
        <tr>
          <td data-th="Movie Title">1</td>
          <td data-th="Genre">A</td>
          <td data-th="Gross">100</td>
        </tr>
        <tr>
          <td data-th="Movie Title">2</td>
          <td data-th="Genre">B</td>
          <td data-th="Gross">100</td>
        </tr>
        <tr>
          <td data-th="Movie Title">3</td>
          <td data-th="Genre">C</td>
          <td data-th="Gross">100</td>
        </tr>
        <tr>
          <td data-th="Movie Title">4</td>
          <td data-th="Genre">D</td>
          <td data-th="Gross">75</td>
        </tr>
        <tr>
          <td data-th="Movie Title">5</td>
          <td data-th="Genre">E</td>
          <td data-th="Gross">75</td>
        </tr>
        <tr>
          <td data-th="Movie Title">6</td>
          <td data-th="Genre">F</td>
          <td data-th="Gross">60</td>
        </tr>
      </table>
    </div>

    <h2>Recent Quizzes</h2>

      <div class="rectangles">
        <div class="rectangle" style="background-color: #DA9347">
          <span class="rectangleHeading">My Courses</span>
          <span class="rectangleText">6</span>
        </div>
        <div class="rectangle" style="background-color: #66B92E">
            <span class="rectangleHeading">Total Quizzes</span>
            <span class="rectangleText">27</span>
        </div>
        <div class="rectangle" style="background-color: #2298F1">
            <span class="rectangleHeading">Live Sessions Attended</span>
            <span class="rectangleText">81</span>
        </div>
        <div class="rectangle" style="background-color: #D65B4A">
            <span class="rectangleHeading">Last Purchase</span>
            <span class="rectangleText">16 / 12</span>
        </div>
      </div>

        <!-- <h2>Dashboard</h2>
        <hr>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">UPSC Quiz 1</h4>
              <br>
              <a href="/quiz" target="-blank" class="btn btn-sm btn-primary">
                Start Quiz</a>
                <a href="/quiz" target="-blank" class="btn btn-sm btn-primary">
                  Answer Key</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">Live Stream</h4>
              <br>
              <a href="/liveStream" target="-blank" class="btn btn-sm btn-success mr-2">
                Watch Live Stream</a>
            </div>
          </div>
        </div>
        <hr> -->
  
        <!-- <footer class="text-center">
          <div class="mb-2">
            <small>
              © 2020 made with <i class="fa fa-heart" style="color:red"></i>
            </small>
          </div>
        </footer> -->
  
      </div>
  
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src='/js/dashboard.js'></script>
</body>
</html>