<%- include('partials/header') %>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/logout">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/changePass">Change Password</a>
    </li>
</ul>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Quiz Topic</h5>
    <p class="card-text">Press button to enter the quiz.</p>
    <a class="btn btn-dark btn-lg text-white" role="button" href="/quiz" >Enter Quiz</a>
  </div>
</div>

<%- include('partials/footer') %>
