<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type='text/css' rel='stylesheet' href='/css/styleLanding.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="wrapper">
    <div class="Container">
          <div class="nav">
              <div class="logo">
                  LOGO
              </div>
              <div class="menu">
                  <ul class="navMenu">
                      <!-- <li><a href="#">Home</a></li>
                      <li><a href="#">Listining</a></li>
                      <li><a href="#">Locations</a></li> -->
                      <li><a href="/register">Register</a></li> 
                      <li><a href="/login">Login</a></li>
                  </ul>
              </div>
          </div>
          <div class="header">
              <button type="button"><strong>मनोगत</strong><br>
                सन 2012 नंतर महाराष्ट्र लोकसेवा आयोगाने आपल्या अभ्यासक्रमात आणि प्रश्नांच्या काठीण्य पातळीत
                अमुलाग्र बदल केला आहे महाराष्ट्रातील लाखो विद्यार्थी स्पर्धा परीक्षांची तयारी करतात.ही तयारी करत असताना  प्रश्नांच्या काठिण्य पातळी नुसार स्वरूप लक्षात आले तर यश मिळवणे सोपे होते. सध्याची अध्ययन-अध्यापन प्रक्रिया विद्यार्थी केंद्रित आहे त्यामुळे स्वयं अध्यायनावर जास्त भर दिला जातो.स्वयं अध्ययन केल्यानंतर त्याचे मूल्यमापन करणे फार गरजेचे आहे.यासाठी आवश्यकता आहे ती एका उत्कृष्ट दर्जाच्या प्रश्नपत्रिकांची ही बाब डोळ्यासमोर ठेवून मी  महाराष्ट्रातील माझ्या तरुण मित्रांसाठी  <strong>यशोरथ टेस्ट सिरीज</strong> हे ॲप बनवले आहे.या ॲपच्या माध्यमातून अध्ययन-अध्यापन प्रक्रिया आनंददायी व्हावी तसेच स्वयंअध्ययन सुलभ व्हावे असा व्यापक दृष्टीकोन ठेवला आहे. अभ्यासक्रमात होणारे नवीन बदल,प्रश्नांची वाढत जाणारी काठिण्यपातळी या आणि अशा अनेक बारीक-सारीक मुद्द्यांचा विचार करून टेस्ट सिरीज याच्या माध्यमातून घरोघरी पोहोचवण्याचा हा एक प्रयत्न.हे ॲप जास्तीत जास्त निर्दोष व दर्जेदार व्हावे या दृष्टीने तज्ञ मार्गदर्शक,  विषय तज्ञ, विषय शिक्षक आणि स्पर्धा परीक्षेत कार्य करणाऱ्या मान्यवरांकडून या ॲपचे समीक्षण करण्यात आले आहे.आलेल्या सूचना व अभिप्राय यांचा काळजीपूर्वक विचार करून या प्रश्नांना अंतिम स्वरूप देण्यात आले आहे. या ॲप चे निर्माते,संपादक मंडळ आणि इतर सर्व सहकाऱ्यांनी अतिशय आस्थेने आणि परिश्रमपूर्वक हे ॲप तयार केली आहे.विद्यार्थी शिक्षक-पालक व स्पर्धा परीक्षेविषयी आस्था असणारे सर्व सुजाण नागरिक याचे स्वागत करतील अशी आशा वाटते. स्पर्धापरीक्षेच्या या खडतर मार्गावरून प्रवास करत असताना हे आपणास नक्कीच दिलासा देईल याविषयी मला खूप खात्री वाटते.</button>
          </div>
      </div>
  </div>
</body>
</html>