<!DOCTYPE html>
<html>
<head>
<title>Live Stream</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/css/styleStream.css" rel="stylesheet" type="text/css" media="all"/>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<iframe id="url_youtube"  width="1280" height="720" frameborder="0" allowfullscreen="allowfullscreen" src= <%= stream[stream.length - 1].url %>></iframe>
</body>
</html>