<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css'/>
  <link type='text/css' rel='stylesheet' href='/css/styleCourses.css'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <title>Document</title>
  <style>
      .messageWeek{
        width: 90.3%;
        height: 6rem;
        background-color: rgb(105, 247, 92);
        border-radius: 5px;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
      }

      .messageAnnouncements{
        width: 90.3%;
        height: 20.7rem;
        background-color: rgb(247, 192, 73);
        border-radius: 5px;
        margin-top: -3rem;
        padding: 1rem;
        overflow-y: scroll;
        margin-bottom: 1.5rem;
      }

      .dateTime{
            width: 15rem;
            height: 27rem;
            background-color: rgb(96, 210, 238);
            border-radius: 5px;
            padding: 1rem;
            overflow-y: scroll;
        }

        .text{
            font-weight: 560;
            margin-top: -1rem;
        }

      .column{
              margin-top: 3rem;
              margin-left: 0rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 15.6rem;
              height: 61.2vh;
          }

      @media (min-width: 480px) {
          .row{
              width: 60%;
          }

          .container{
              display: flex;
              margin: 3rem 0rem 0rem 0rem;
          }

          .column{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 15rem;
              height: 28.5rem;;
              margin-top: 0rem;
              margin-left: 3rem;
          }

          .courseCard{
              margin-bottom: 1rem;
          }

          .dateTime{
            width: 15rem;
            height: 27rem;
            background-color: rgb(96, 210, 238);
            border-radius: 5px;
            padding: 1rem;
            overflow-y: scroll;
        }

        .text{
            font-weight: 560;
        }
      }
  </style>
</head>
<body>
  <%- include('partials/header') %>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <%- include('partials/sidebarUser') %>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container">

         <div class="row">

            <div class="col-12 col-lg-4 mobilmt courseCard">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3825573/pexels-photo-3825573.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Chemistry</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>Rs. 3502</p>
                        <p class="personCV">
                            <a href="/quizlist/Chemistry" class="btn" src="">View</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt courseCard">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3825573/pexels-photo-3825573.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Chemistry</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>Rs. 3502</p>
                        <p class="personCV">
                            <a href="/quizlist/Chemistry" class="btn" src="">View</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt courseCard">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3825573/pexels-photo-3825573.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Chemistry</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>Rs. 3502</p>
                        <p class="personCV">
                            <a href="/quizlist/Chemistry" class="btn" src="">View</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt courseCard">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3825573/pexels-photo-3825573.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Chemistry</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>Rs. 3502</p>
                        <p class="personCV">
                            <a href="/quizlist/Chemistry" class="btn" src="">View</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt courseCard">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3825573/pexels-photo-3825573.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Chemistry</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>Rs. 3502</p>
                        <p class="personCV">
                            <a href="/quizlist/Chemistry" class="btn" src="">View</a>
                        </p>
                    </div>
                </div>
            </div>
          </div>
          <div class="column">
                <div class="messageWeek">
                    <strong><p class="meta">Student of the Week</p></strong>
                    <hr>
                    <p class="text">
                        🏆 <%= messages[messages.length - 1].notifTitle %>
                    </p>
            </div>
                <div class="messageAnnouncements">
                <strong>Announcements</strong>
                <hr>
                <% for(var n of ann){ %>
                       <p class="meta">&#8226; <%= n.text %></p>
                <% } %>
                </div>
            </div>
            <div>
                <div class="dateTime">
                    <strong><p class="meta">Test Schedule</p></strong>
                    <p class="text">&#8226; Test 1</p>
                    <p>Test Date and Test Time Details</p>
                    <p class="text">&#8226; Test 1</p>
                    <p>Test Date and Test Time Details</p>
                    <p class="text">&#8226; Test 1</p>
                    <p>Test Date and Test Time Details</p>
                    <p class="text">&#8226; Test 1</p>
                    <p>Test Date and Test Time Details</p>
                    <p class="text">&#8226; Test 1</p>
                    <p>Test Date and Test Time Details</p>
                    <p class="text">&#8226; Test 1</p>
                    <p>Test Date and Test Time Details</p>
            </div>
            </div>
      </div>
  
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src='/js/dashboard.js'></script>
</body>
</html>