<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css'/>
  <link type='text/css' rel='stylesheet' href='/css/styleNotification.css'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <title>Document</title>
</head>
<body>
  <%- include('partials/header') %>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <%- include('partials/sidebarUser') %>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container">
        <% for(var n of messaging){ %>
         <div class="message">
            <p class="meta"><%= n.notifTitle %></p>
            <p class="text">
               <%= n.notifBody %>
            </p>
         </div>
        <% } %>
      </div>
  
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src='/js/dashboard.js'></script>
</body>
</html>