<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css'/>
  <link type='text/css' rel='stylesheet' href='/css/styleCourses.css'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <title>Document</title>
</head>
<body>
  <%- include('partials/header') %>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <%- include('partials/sidebarUser') %>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container">
         <div class="row">

            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Chemistry</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>1 Month: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>3 Months: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>6 Months: Rs. 3502</p>
                        <p class="personCV">
                            <a href="" class="btn" src="">Buy</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Physics</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>1 Month: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>3 Months: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>6 Months: Rs. 3502</p>
                        <p class="personCV">
                            <a href="" class="btn" src="">Buy</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Mathematics</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>1 Month: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>3 Months: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>6 Months: Rs. 3502</p>
                        <p class="personCV">
                            <a href="" class="btn" src="">Buy</a>
                        </p>
                    </div>
                </div>
            </div>
          </div>
          <br>
          <div class="row">

            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Chemistry</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>1 Month: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>3 Months: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>6 Months: Rs. 3502</p>
                        <p class="personCV">
                            <a href="" class="btn" src="">Buy</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mobilmt">
                <div class="person">
                    <div class="personimg">
                        <img src="https://images.pexels.com/photos/3768126/pexels-photo-3768126.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    </div>
                    <div class="persondetail">
                        <p class="personunvan">Physics</p>
                    </div>
                    <div class="personcontact">
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>1 Month: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>3 Months: Rs. 3502</p>
                        <p class="persontelefon"><i class="fas fa-phone-square-alt"></i>6 Months: Rs. 3502</p>
                        <p class="personCV">
                            <a href="" class="btn" src="">Buy</a>
                        </p>
                    </div>
                </div>
            </div>
          </div>
      </div>
  
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src='/js/dashboard.js'></script>
</body>
</html>