<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type='text/css' rel='stylesheet' href='/css/styleDashboard.css'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <title>Document</title>
  <style>
   .message{
     width: 48%;
     background-color: white;
     border-radius: 5px;
   }

   .ann{
       width: 100%;
       display: flex;
       justify-content: space-between;
       margin-bottom: 2.7rem;
   }
</style>
</head>
<body>
  <%- include('partials/header') %>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <%- include('partials/sidebarAdmin') %>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container">
         <div class="row">
            <div class="ann">
                <div class="message">
                <% for(var n of ann){ %>
                    <strong><p class="meta"><%= n.name %></p></strong>
                    <p class="text">
                       <%= n.query %>
                    </p>
                <% } %>
            </div>
            </div>
         </div>
      </div>
  
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src='/js/dashboard.js'></script>
</body>
</html>